<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaoniu.publicuseproject">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.example.xiaoniu.publicuseproject.glide.GlideConfiguration"
            android:value="GlideModule" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.xiaoniu.publicuseproject.floatingwidow.FloatWindowService"></service>
        
        <activity android:name="com.example.xiaoniu.publicuseproject.theme.ChangeThemeActivity"
            android:theme="@style/DayTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.theme.MDNightActivity" android:theme="@style/MDNightTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.skipcountdown.SkipCountDownActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".viewLifeCycle.ViewLifeCycleActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".constraintLayout.ConstraintLayoutActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".notification.CreateNotificationActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".glide.GlideActivity"
            android:theme="@style/AppTheme"/>

        <service
            android:name="com.example.xiaoniu.publicuseproject.accessibilityService.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <activity android:name=".LruCache.PhotoWallActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".fragment.ViewPagerFragmentActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.clipChildren.ClipChildrenActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.ExpandableListView.ExpandableListViewActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.https.HttpsActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.CollapsingToolbarLayout.CollapsingToolbarLayoutActivity"
            android:theme="@style/CollapsingToolbarLayoutTheme"/>

        <activity android:name="com.example.xiaoniu.publicuseproject.picker.PickerActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>